/node_modules
/public/storage
/public/upload
/public/filemanager
/public/ffmpeg
/public/cache
/resources/assets/js/components/const.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.git/composer.lock
/.env
/composer.lock
/_ide_helper.php
/.phpstorm.meta.php
public/js/*
